*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
		font-family: arial;
}

.btn-down{
	width: 100px;
	height: 40px;
	background-color: white;
	color: black;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 50%;
		border-top-right-radius: 50%;

}

table,tr,td,th {
	border: 3px solid black;
	border-collapse: collapse;
	color: black;
	text-align: center;
	width: 150px;
	font-size: 20px;
	font-weight: bold;
} 
table {
	position: absolute;
	top: 10px;
	left: 10px;
	opacity: 0.3;
}


/*================ WIRE ===============*/


.wire{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #c0392b;
	position: relative;
}
.wire:before{
	content: "YES";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20rem;
	font-family: arial;
	opacity: 0.1;
}


.wire .symbol{
	position: relative;
}
.wire .symbol::before {
	content: "";
	position: absolute;
	left: 106px;
	top: 62px;
	width: 200px;
	height: 4px;
	background-color: white;
}
.wire .symbol::after {
	content: "";
	position: absolute;
	right: 115px;
	top: 62px;
	width: 250px;
	height: 4px;
	background-color: white;
}

.wire .up {
	position: absolute;
	height: 54px;
	width: 4px;
	background-color: white;
	top: 10px;
	right: -178px;
}
.wire .down {
	position: absolute;
	height: 87px;
	width: 4px;
	background-color: white;
	top: 63px;
	left: -237px;
}

.btnwire {
	width: 50px;
	position: absolute;
	top: 144px;
	left: -262px;
	z-index: 99;
}
.wire .bulb {
	width: 50px;
	position: absolute;
	top: -66px;
	right: -201px;
	z-index: 99;
}

/*================ NOT ===============*/


.not{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8e44ad;
	position: relative;
}
.not:before{
	content: "NOT";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20rem;
	font-family: arial;
	opacity: 0.1;
}

.not .symbol{
  position: relative;

}
.not .symbol::before {
	content: '';
	position: absolute;
	top: 62px;
	left: 116px;
	width: 100px;
	height: 4px;
	background-color: white;
}
.not .symbol::after {
	content: '';
	position: absolute;
	top: 62px;
	left: -191px;
	width: 200px;
	height: 4px;
	background-color: white;
}

.not .up {
	width: 4px;
	height: 70px;
	position: absolute;
	top: -4px;
	left: -194px;
	background-color: white;
}
.not .down {
	width: 4px;
	height: 50px;
	position: absolute;
	top: 65px;
	right: -88px;
	background-color: white;
}
.not .line {
	width: 100px;
	height: 4px;
	position: absolute;
	top: 111px;
	right: -184px;
	background-color: white;
}
.not .btnnot {
	width: 50px;
	position: absolute;
	top: -50px;
	left: -217px;
}
.not .bulbnot {
	width: 50px;
	position: absolute;
	top: 33px;
	right: -206px;
}

/*================ OR ===============*/


.or{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #34495e;
	position: relative;
}
.or:before{
	content: "OR";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20rem;
	font-family: arial;
	opacity: 0.1;
}

.or .symbol{
  position: relative;

}

.or .line1 {
	position: absolute;
	width: 200px;
	height: 5px;
	background-color: white;
	top: 40px;
	left: -182px;
	border-radius: 50px;
}
.or .line2 {
	position: absolute;
	width: 120px;
	height: 5px;
	background-color: white;
	top: 83px;
	left: -104px;
	border-radius: 50px;
}
.or .line3 {
	position: absolute;
	width: 120px;
	height: 4px;
	background-color: white;
	top: 62px;
	right: -106px;
	border-radius: 50px;
}


.or .up {
	position: absolute;
	width: 5px;
	height: 60px;
	background-color: white;
	top: 6px;
	right: -106px;
	 border-radius: 50px; 
}

.or .down {
	position: absolute;
	width: 5px;
	height: 60px;
	background-color: white;
	top: 85px;
	right: 227px;
	border-radius: 50px;
}
.or .bulbor {
	position: absolute;
	top: -70px;
	right: -128px;
	width: 50px;
}
.or #firstcheckbox{
	width: 50px;
	position: absolute;
	height: 50px;
	top: 16px;
	left: -228px;
	opacity: 0;
	
}

.or #firstcheckbox:checked ~ .customCheck1{
	background-image: url(../img/btn2.png);
}

.or .customCheck1 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -114px;
	left: -223px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}


.or #secondcheckbox {
	width: 50px;
	position: absolute;
	height: 50px;
	top: 134px;
	left: -125px;
	opacity: 0;

}

.or #secondcheckbox:checked ~ .customCheck2{
	background-image: url(../img/btn2.png);
}

.or .customCheck2 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -45px;
	left: -125px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}

/*================ AND ===============*/


.and{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #16a085;
	position: relative;
}
.and:before{
	content: "AND";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20rem;
	font-family: arial;
	opacity: 0.1;
}

.and .symbol{
  position: relative;

}

.and .line1 {
	position: absolute;
	top: 62px;
	left: 103px;
	width: 79px;
	height: 4px;
	background-color: white;
	border-radius: 50px;
}

.and .line2 {
	position: absolute;
	top: 83px;
	left: -190px;
	width: 213px;
	height: 5px;
	background-color: white;
	border-radius: 50px;
}

.and .line3 {
	position: absolute;
	top: 40px;
	left: -99px;
	width: 120px;
	height: 5px;
	background-color: white;
	border-radius: 50px;
}

.and .up {
	position: absolute;
	top: 62px;
	left: 178px;
	width: 4px;
	height: 58px;
	background-color: white;
	border-radius: 50px;
}

.and .line4 {
	position: absolute;
	top: 117px;
	left: 178px;
	width: 81px;
	height: 4px;
	background-color: white;
	border-radius: 50px;
}

.and #fcheck-and{
	width: 50px;
	position: absolute;
	height: 50px;
	top: 134px;
	left: -125px;
	opacity: 0;

}
.and #seccheck-and{
	width: 50px;
	position: absolute;
	height: 50px;
	top: 134px;
	left: -125px;
	opacity: 0;

}

.and .customCheck3 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -116px;
	left: -144px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}
.and .customCheck4 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -120px;
	left: -231px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}


.and #fcheck-and:checked ~ .customCheck3{
	background-image: url(../img/btn2.png);
}
.and #seccheck-and:checked ~ .customCheck4{
	background-image: url(../img/btn2.png);
}

.and .bulband {
	position: absolute;
	top: 37px;
	left: 233px;
	width: 50px;
}

/*================ NOR ===============*/



.nor{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2ecc71;
	position: relative;
}
.nor:before{
	content: "NOR";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20rem;
	font-family: arial;
	opacity: 0.1;
}

.nor .symbol{
  position: relative;

}
.nor .line1 {
	position: absolute;
	top: 62px;
	left: 116px;
	background-color: white;
	width: 100px;
	height: 4px;
}
.nor .line2 {
	position: absolute;
	top: 40px;
	left: -138px;
	background-color: white;
	width: 155px;
	height: 5px;
	border-radius: 50px;
}
.nor .line3 {
	position: absolute;
	top: 83px;
	left: -66px;
	background-color: white;
	width: 80px;
	height: 5px;
	border-radius: 50px;
}
.nor .up {
	position: absolute;
	top: -15px;
	left: 213px;
	background-color: white;
	width: 4px;
	height: 81px;
	border-radius: 50px;
}
.nor .up2 {
	position: absolute;
	top: -10px;
	left: -139px;
	background-color: white;
	width: 4px;
	height: 55px;
	border-radius: 50px;
}

.nor .down {
	position: absolute;
	top: 83px;
	left: -67px;
	background-color: white;
	width: 4px;
	height: 55px;
	border-radius: 50px;
}

.nor .line4 {
	position: absolute;
	top: -15px;
	left: 213px;
	background-color: white;
	width: 80px;
	height: 4px;
	border-radius: 50px;
}

.nor .bulbnor {
	position: absolute;
	top: -93px;
	right: -187px;
	width: 50px;
	z-index: 99;
}

#check1-nor {
	width: 50px;
	position: absolute;
	height: 50px;
	top: -43px;
	left: -162px;
	opacity: 0;
}

#check2-nor {
	width: 50px;
	position: absolute;
	height: 50px;
	top: 128px;
	left: -90px;
	opacity: 0;

}

.nor .customCheck5 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -178px;
	left: -162px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}
.nor .customCheck6 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -60px;
	left: -90px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}

.nor #check1-nor:checked ~ .customCheck5 {
	background-image: url(../img/btn2.png);
}
.nor #check2-nor:checked ~ .customCheck6{
	background-image: url(../img/btn2.png);
}

/*================ NAND ===============*/
.nand{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3498db;
	position: relative;
}
.nand:before{
	content: "NAND";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20rem;
	font-family: arial;
	opacity: 0.1;
}

.nand .symbol{
  position: relative;

}

.nand .line1 {
	position: absolute;
	top: 83px;
	left: -66px;
	background-color: white;
	width: 80px;
	height: 5px;
	border-radius: 50px;
}
.nand .line2 {
	position: absolute;
	top: 40px;
	left: -179px;
	background-color: white;
	width: 198px;
	height: 5px;
	border-radius: 50px;
}
.nand .line3 {
	position: absolute;
	top: 62px;
	left: 115px;
	background-color: white;
	width: 171px;
	height: 4px;
	border-radius: 50px;
}

.nand .down {
	position: absolute;
	top: 83px;
	left: -66px;
	background-color: white;
	width: 5px;
	height: 65px;
	border-radius: 50px;
}
.nand .down2 {
	position: absolute;
	top: 42px;
	left: -179px;
	background-color: white;
	width: 5px;
	height: 106px;
	border-radius: 50px;
}

.nand .up {
	position: absolute;
	top: 7px;
	left: 281px;
	background-color: white;
	width: 5px;
	height: 58px;
	border-radius: 50px;
}

.nand .bulbnand {
	width: 50px;
	position: absolute;
	top: -66px;
	right: -180px;
	z-index: 99;
}

#check1-nand {
	width: 50px;
	position: absolute;
	height: 50px;
	top: 122px;
	left: -203px;
	opacity: 0;
}

#check2-nand {
	width: 50px;
	position: absolute;
	height: 50px;
	top: 120px;
	left: -90px;
	opacity: 0;
}

.nand .customCheck7 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -11px;
	left: -203px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}
.nand .customCheck8 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -60px;
	left: -90px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}

.nand #check1-nand:checked ~ .customCheck7 {
	background-image: url(../img/btn2.png);
}
.nand #check2-nand:checked ~ .customCheck8{
	background-image: url(../img/btn2.png);
}


/*================ XOR ===============*/
.xor{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e67e22;
	position: relative;
}
.xor:before{
	content: "XOR";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20rem;
	font-family: arial;
	opacity: 0.1;
}

.xor .symbol{
  position: relative;

}

.xor .line1 {
	position: absolute;
	top: 62px;
	left: 114px;
	background-color: white;
	width: 100px;
	height: 4px;
}
.xor .line2 {
	position: absolute;
	top: 40px;
	left: -88px;
	background-color: white;
	width: 100px;
	height: 5px;
}
.xor .line3 {
	position: absolute;
	top: 83px;
	left: -141px;
	background-color: white;
	width: 161px;
	height: 5px;
}
.xor .line4 {
	position: absolute;
	top: 159px;
	left: 210px;
	background-color: white;
	width: 62px;
	height: 4px;
}

.xor .up {
	position: absolute;
	top: -25px;
	left: -88px;
	background-color: white;
	width: 5px;
	height: 69px;
	border-radius: 50px;
}
.xor .down {
	position: absolute;
	top: 62px;
	left: 210px;
	background-color: white;
	width: 4px;
	height: 100px;
	border-radius: 50px;
}

.xor .bulbxor {
	position: absolute;
	top: 79px;
	left: 245px;
	width: 50px;
	z-index: 99;
}

#check1-xor {
	width: 50px;
	position: absolute;
	height: 50px;
	top: -60px;
	left: -110px;
	opacity: 0;
}

#check2-xor {
	width: 50px;
	position: absolute;
	height: 50px;
	top: 61px;
	left: -183px;
	opacity: 0;
}

.xor .customCheck9 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -192px;
	left: -110px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}
.xor .customCheck10 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -122px;
	left: -183px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}

.xor #check1-xor:checked ~ .customCheck9 {
	background-image: url(../img/btn2.png);
}
.xor #check2-xor:checked ~ .customCheck10{
	background-image: url(../img/btn2.png);
}


/*================ XNOR ===============*/
.xnor{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #bdc3c7;
	position: relative;
}
.xnor:before{
	content: "XNOR";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20rem;
	font-family: arial;
	opacity: 0.1;
}

.xnor .symbol{
  position: relative;

}

.xnor .line1 {
	position: absolute;
	top: 62px;
	left: 120px;
	background-color: white;
	width: 120px;
	height: 4px;
	border-radius: 50px;
}
.xnor .line2 {
	position: absolute;
	top: 40px;
	left: -49px;
	background-color: white;
	width: 77px;
	height: 5px;
	border-radius: 50px;
}
.xnor .line3 {
	position: absolute;
	top: 83px;
	left: -107px;
	background-color: white;
	width: 131px;
	height: 5px;
	border-radius: 50px;
}

.xnor .line4 {
	position: absolute;
	top: 0px;
	left: 236px;
	background-color: white;
	width: 91px;
	height: 5px;
	border-radius: 50px;
}
.xnor .bulbxnor {
	position: absolute;
	top: -77px;
	left: 296px;
	width: 50px;
	z-index: 99;
}

.xnor .up {
	position: absolute;
	top: 0px;
	left: 235px;
	background-color: white;
	width: 5px;
	height: 66px;
	border-radius: 50px;
}

.xnor .up2 {
	position: absolute;
	top: 83px;
	left: -107px;
	background-color: white;
	width: 5px;
	height: 66px;
	border-radius: 50px;
}

#check1-xnor {
	width: 50px;
	position: absolute;
	height: 50px;
	top: 14px;
	left: -87px;
	opacity: 0;

}

#check2-xnor {
	width: 50px;
	position: absolute;
	height: 50px;
	top: 134px;
	left: -127px;
	opacity: 0;
}

.xnor .customCheck11 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -112px;
	left: -88px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}
.xnor .customCheck12 {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	border-radius: 50%;
	top: -45px;
	left: -128px;
	cursor: pointer;
	background-image: url(../img/btn1.png);
	background-size: cover;
}

.xnor #check1-xnor:checked ~ .customCheck11 {
	background-image: url(../img/btn2.png);
}
.xnor #check2-xnor:checked ~ .customCheck12{
	background-image: url(../img/btn2.png);
}
